/** set root for rem **/
root {
    background-color: white;
    font-size: 100%;
  }
  
  .container,
  .container-fluid {
    padding: .1rem;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  #dashboardHeader {
    margin-top: 1rem;
  }
  
  /** header and heading **/
  header {
    height: 6rem;
  }
  
  .heading {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 400;
  }
  /** end of header **/
  
  .container {
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
  }
  
  /* city search and history */
  .searchDiv {
    background-color: whitesmoke;
  }
  
  #searchForm {
    padding: 0;
  }
  
  h2 {
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  .searchInput {
    margin-bottom: 1rem;
    height: 3.5rem;
    border-radius: .4rem;
  }
  
  .searchBtn {
    border-radius: .4rem;
    background-color: rgb(0, 155, 245);
    border-color: rgba(101, 151, 243, 0.671);
    font-weight: 200;
    height: 3.5rem;
  }
  
  .searchBtn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .searchUL {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .searchLI {
    margin: .25rem;
    padding: 0;
  }
  
  .cityHistoryContainer {
    margin: 2rem;
  }
  
  .cityBtn {
  width: 99%;
  height: 4rem;
  border-radius: .4rem;
  background-color: white;
  }
  
  .searchStyle {
    background-color: whitesmoke;
  }
  
  /** end of city search **/
  
  /** list of items **/
  
  li {
    list-style: none;
    padding: .5rem;
  }
  
  
  /** font awesome icons **/
  i:nth-child(2) {
    padding-left: 1rem;
  }
  
  .low {
    color: white;
    background-color: green;
    border-radius: .25rem;
    padding: .2rem;
  }
  
  .moderate {
    color: white;
    background-color: orange;
    border-radius: .25rem;
    padding: .2rem;
  }
  
  .severe {
    color: black;
    background-color:red;
    border-radius: .25rem;
    padding: .2rem;
  }
  
  span > i {
    padding: .5rem;
  }
  
  /** end of icons **/
  
  /** main card styles **/
  #mainCard {
    margin-left: .5rem;
  }
  
  #cityNameMain {
    font-size: 2rem;
    font-weight: bold;
  }
  /** end of main card **/
  
  /** all cards with same styling **/
  
  #dayuan,
  #dayToo,
  #dayTree,
  #dayFour,
  #dayFive {
    margin: .75rem 0 .5rem 2rem;
    background-color: rgb(0, 155, 245);
    border-radius: .3rem;
    color: white;
  }
  
  .dates {
    font-size: 1.5rem;
    font-weight: bold;
  }